* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff");
  src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url("../fonts/HKGrotesk-Medium.woff") format("woff");
  src: url("../fonts/HKGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff");
  src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #5A7184; }

.container {
  position: relative;
  width: 1140px;
  margin: auto; }

img {
  max-width: 100%; }

button {
  outline: none;
  cursor: pointer; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.navbar {
  background-color: #fff;
  margin-bottom: 25px; }
  .navbar-top {
    padding: 36px 0 36px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar__menu-button {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-decoration: none;
      padding: 12px 22px;
      text-align: center;
      background-color: inherit;
      color: #1565D8;
      border: 2px solid #1565D8;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
              filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
      border-radius: 8px;
      margin-left: 50px;
      margin-right: 0px; }
    .navbar__menu-burger {
      display: none;
      width: 22px;
      height: 22px;
      background-image: url(../img/mobile-menu-button.svg);
      background-repeat: no-repeat;
      cursor: pointer; }
      .navbar__menu-burger--close {
        background-image: url(../img/mobile-menu-button-close.svg);
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .navbar__menu-mobile {
      display: none;
      max-width: 70px; }
  .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 506px;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar-menu__link {
      text-decoration: none;
      color: #183B56;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-align: center; }
  .navbar__mobile {
    display: none;
    padding: 12px 24px 36px 24px;
    overflow: auto;
    position: fixed;
    top: 10px;
    right: 0px;
    z-index: 100;
    max-height: 95vh; }
    .navbar__mobile--visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-width: 10%;
      min-height: 324px;
      padding: 12px 24px 36px 24px;
      background-color: #fff;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .navbar__mobile-menu {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .navbar__mobile-menu-link {
        display: inline-block;
        text-decoration: none;
        color: #183B56;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 20px; }
    .navbar__mobile-button {
      margin: auto;
      width: 256px;
      padding-top: 9px;
      padding-bottom: 9px; }

.container-hero {
  position: relative;
  width: 1280px;
  min-height: 700px;
  margin: 0 auto 120px auto;
  position: relative;
  padding: 62px 20px 46px 107px;
  border-radius: 8px;
  overflow: hidden;
  background: #E8EAE9; }

.hero {
  margin-bottom: 120px; }
  .hero-image {
    position: absolute;
    width: 1074px;
    height: 1614px;
    left: 27.97%;
    right: -11.88%;
    top: -53.86%;
    bottom: -76.71%; }
    .hero-image::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      background: -webkit-gradient(linear, right top, left top, color-stop(67.34%, rgba(238, 238, 238, 0.0001)), to(#E8EAE9));
      background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%); }
    .hero-image__bg {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .hero__wrapper {
    position: relative;
    z-index: 10;
    max-width: 652px;
    height: 592px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-start;
        -ms-flex-pack: space-start;
            justify-content: space-start; }
  .hero__text {
    max-height: 400px;
    text-align: left;
    margin-bottom: 52px; }
  .hero-bage {
    display: inline-block;
    padding: 6px 16px;
    background-color: rgba(54, 179, 126, 0.1);
    border-radius: 2000px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #36B37E g;
    text-transform: uppercase;
    margin-bottom: 28px; }
  .hero-title {
    max-width: 448px;
    font-family: 'HKGrotesk-Bold';
    font-weight: bold;
    font-style: normal;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: 0.2px;
    color: #183B56;
    margin-bottom: 28px;
    margin-top: 0; }
  .hero-description {
    max-width: 652px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: inherit; }
  .hero-button {
    width: 259px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding: 15px 40px;
    background-color: #183B56;
    border-radius: 8px;
    border: none;
    margin-bottom: 48px; }
  .hero__guaranty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 464px;
    max-width: 650px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -2px; }
    .hero__guaranty-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .hero__guaranty-img {
      padding: 7px;
      border: 1px solid rgba(21, 101, 216, 0.1);
      border-radius: 12px;
      margin-right: 8px; }
    .hero__guaranty-link {
      font-family: 'HKGrotesk-Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #183B56;
      text-decoration: none; }

.collection {
  margin-bottom: 145px;
  min-height: 490px; }
  .collection-wrapper {
    height: 490px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .collection__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    max-width: 670px;
    overflow: hidden; }
    .collection__gallery-img {
      border-radius: 8px;
      -o-object-fit: cover;
         object-fit: cover;
      overflow: hidden; }
    .collection__gallery-images {
      width: 48%;
      margin-left: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .collection__text {
    width: 40%;
    padding: 10px 56px 54px 43px; }
    .collection__text-title {
      font-family: 'HKGrotesk-Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0.2px;
      margin: 0 0 24px 0; }
    .collection__text-description {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 36px;
      margin-bottom: 41px; }
    .collection__text-see {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 260px; }
    .collection__text-link {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #1565D8;
      text-decoration: none; }
    .collection__text-icon {
      margin-left: 20px; }

.gallery-1 {
  margin: 0;
  width: 47.4%;
  border-radius: 8px; }

.gallery-2 {
  margin: 0;
  height: 230px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 8px; }

.gallery-3 {
  margin: 0;
  width: 100%;
  height: 230px;
  border-radius: 8px; }

.subscribe {
  position: relative;
  padding: 100px 0 100px 0;
  background-image: url(../img/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .subscribe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .subscribe__text {
    color: #fff;
    max-width: 440px; }
    .subscribe__text-title {
      font-family: 'HKGrotesk-Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0.2px;
      margin: 0 0 14px 0; }
    .subscribe__text-description {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px; }
  .subscribe__form {
    margin-right: 62px; }
  .subscribe-form {
    position: relative;
    margin-right: 63px;
    margin-bottom: 2px; }
  .subscribe__input {
    width: 447px;
    height: 56px;
    background: #fff;
    border: 1px solid #C3CAD9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    padding-left: 48px;
    padding-right: 195px; }
  .subscribe__button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    outline: none;
    padding: 11px 27px;
    background: #183B56;
    border: none;
    border-radius: 4px; }
  .subscribe-icon {
    position: absolute;
    top: 22px;
    left: 18px; }

.footer {
  padding: 128px 0 128px 0; }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-logo {
    display: block;
    margin-bottom: 26px; }
  .footer-info {
    width: 25.9%; }
    .footer-info__description {
      margin: 0 0 29px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      padding-right: 20px; }
  .footer-social {
    text-decoration: none; }
    .footer-social__link {
      margin-right: 3px; }
  .footer-widget {
    width: 75%;
    padding-top: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-widget__block {
    width: 23%;
    padding-right: 10px; }
  .footer-title {
    margin: 0 0 33px 0; }
  .footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .footer-menu__item {
      margin-bottom: 24px; }
  .footer-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #183B56; }

@media (min-width: 992px) {
  .navbar__mobile {
    display: none; }
  .navbar__menu-button {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .navbar__menu-button:hover {
      background-color: #1565D8;
      color: #fff; }
  .hero-button {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .hero-button:hover {
      background-color: #1565D8; }
  .hero__guaranty-img {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .hero__guaranty-img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .collection__text-link:hover {
    text-decoration: underline; }
  .subscribe__button {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .subscribe__button:hover {
      background-color: #1565D8; }
  .footer-link {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .footer-link:hover {
      color: #1565D8;
      text-decoration: underline; }
  .footer-social__img {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .footer-social__img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); } }

@media (max-width: 1200px) {
  .container {
    width: 95%; }
    .container-hero {
      max-width: 98%; }
  .navbar-top {
    width: 100%; }
  .hero-description {
    max-width: 80%; }
  .collection__gallery {
    width: 50%; }
    .collection__gallery-images {
      width: 41%; }
  .collection__text {
    width: 50%; }
  .subscribe-form {
    margin-right: 0; } }

@media (max-width: 992px) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99; }
    .navbar-top {
      padding: 18px 0 18px 0; }
    .navbar__menu {
      display: none; }
      .navbar__menu-burger {
        display: block; }
      .navbar__menu-mobile {
        display: block; }
  .hero {
    margin-top: 96px; }
    .hero__wrapper {
      height: 100%; }
    .hero__text {
      padding-left: 2px; }
    .hero-bage {
      margin-bottom: 25px; }
    .hero__text {
      margin-bottom: 21px; }
    .hero-title {
      font-family: 'HKGrotesk-Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0.2px;
      margin-bottom: 20px; }
    .hero-description {
      max-width: 400px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px; }
    .hero-button {
      margin-bottom: 39px;
      margin-left: 4px; }
  .subscribe {
    padding: 72px 0 80px 0; }
    .subscribe-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .subscribe__text-title {
      margin-bottom: 14px;
      text-align: center; }
    .subscribe__text-description {
      text-align: center;
      margin-bottom: 56px; }
  .footer-info {
    width: 38%; }
  .footer-widget {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer-widget__block {
      width: 50%;
      margin-bottom: 48px; } }

@media (max-width: 900px) {
  .collection {
    margin-top: -40px; }
    .collection-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 95%;
      min-height: 861px; }
    .collection__gallery {
      width: 100%;
      margin-bottom: 30px; }
      .collection__gallery-images {
        width: 47.7%; }
    .collection__text {
      width: 95%; }
      .collection__text-description {
        margin-bottom: 24px; }
  .gallery-1 {
    width: 47.7%; } }

@media (max-width: 768px) {
  .container {
    width: 84%; }
    .container-hero {
      width: 95%;
      padding: 34px 293px 0px 28px;
      min-height: 624px; }
  .navbar__mobile {
    top: 10px;
    right: 3.5%; }
  .hero-image {
    left: 0px;
    top: -395px; }
  .hero__guaranty {
    max-width: 447px; }
  .collection__gallery {
    height: 490px; }
  .collection-container {
    width: 93%;
    margin: 0 auto; }
  .collection-wrapper {
    width: 100%; }
  .collection__text {
    width: 100%;
    padding-left: 23px;
    padding-right: 55px; }
  .gallery-1 {
    height: 100%;
    width: 47.7%; }
  .footer-info {
    width: 50%; }
  .footer-widget__block {
    margin-left: 25px;
    width: 43%;
    margin-bottom: 25px; } }

@media (max-width: 730px) {
  .hero-title {
    font-size: 32px;
    line-height: 40px; }
  .hero-description {
    font-size: 16px;
    line-height: 28px; }
  .hero__guaranty {
    width: 447px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .hero__guaranty-block {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      margin-left: 8px;
      margin-right: 8px; }
  .collection__text-title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 3px; }
  .footer {
    padding-top: 64px;
    padding-bottom: 73px; }
    .footer-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer-info {
      width: 100%;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      text-align: center; }
    .footer-widget {
      width: 100%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      .footer-widget__block {
        width: 50%;
        margin-left: 0; } }

@media (max-width: 700px) {
  .gallery-1 {
    width: 47%; }
  .gallery-2 {
    height: 222px; }
  .gallery-3 {
    height: 222px; }
  .collection__gallery-images {
    width: 47%; } }

@media (max-width: 576px) {
  .container-hero {
    max-width: 100%;
    padding: 376px 20px 36px 20px;
    min-height: 624px;
    border-radius: 0; }
  .navbar-top {
    padding: 26px 0 16px 0; }
  .hero {
    max-height: 899px; }
    .hero__wrapper {
      max-width: 100vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .hero__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 5px; }
    .hero-bage {
      text-align: center;
      margin-bottom: 19px; }
    .hero-description {
      font-size: 16px;
      line-height: 28px;
      text-align: center; }
    .hero-button {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px; }
    .hero__guaranty {
      max-width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .hero-image {
      left: -260px;
      top: -376px; }
      .hero-image::before {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(47.32%, rgba(238, 238, 238, 0.0001)), color-stop(65.51%, #E8EAE9));
        background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%); }
  .collection__text-title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px; }
  .collection__text-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center; }
  .collection__text-see {
    display: none; }
  .collection__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 411px; }
    .collection__gallery-images {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      height: 97px;
      width: 100%;
      margin-left: 0; }
  .gallery-1 {
    width: 100%;
    height: 300px;
    margin-bottom: 14px; }
  .gallery-2 {
    height: 97px;
    width: 47%;
    margin: 0; }
  .gallery-3 {
    height: 97px;
    width: 47%;
    margin: 0; }
  .subscribe {
    padding: 65px 0 64px 0; }
    .subscribe-container {
      width: 100%; }
    .subscribe__text {
      width: 100%; }
      .subscribe__text-title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 24px; }
      .subscribe__text-description {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 36px;
        width: 100%; }
    .subscribe-form {
      width: 90%;
      text-align: center; }
    .subscribe__group {
      text-align: center; }
    .subscribe-icon {
      left: 28px;
      top: 18px; }
    .subscribe__input {
      width: 97%;
      margin: 0 auto 10px auto;
      padding-right: 25px;
      height: 48px; }
    .subscribe__button {
      position: relative;
      width: 90%;
      top: 0;
      right: 0;
      padding: 11px 27px 12px 27px;
      width: 97%;
      border-radius: 8px; }
  .footer {
    padding-top: 44px; }
    .footer-logo {
      margin-bottom: 10px; }
    .footer-info {
      padding-top: 35px; }
      .footer-info__description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin-left: 5px;
        margin-bottom: 22px; }
    .footer-wrapper {
      padding-left: 9px; }
    .footer-widget__block {
      width: 100%;
      margin-bottom: 16px; }
    .footer-title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 19px; }
    .footer-link {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px; }
    .footer-menu__item {
      margin-bottom: 15px; } }

@media (max-width: 322px) {
  .collection__gallery {
    min-height: 411px; } }

@media (max-width: 320px) {
  .container-hero {
    margin-top: 68px; }
  .hero-title {
    text-align: center;
    margin-bottom: 2px; }
  .hero-description {
    margin-bottom: 17px; }
  .hero__guaranty-block {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 13px; }
  .hero__guaranty-img {
    max-height: 24px;
    padding: 5px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 12px;
    margin-right: 8px; }
  .hero-image {
    left: -407px;
    top: -381px; }
  .navbar__mobile--visible {
    min-width: 90%; }
  .navbar__mobile-menu {
    text-align: center; }
  .navbar__mobile-button {
    width: 90%; }
  .collection {
    margin-top: -56px; }
    .collection__gallery {
      margin-bottom: 26px; }
    .collection__text {
      padding-left: 18px;
      padding-right: 14px; }
      .collection__text-title {
        width: 254px;
        margin-bottom: 19px; }
      .collection__text-description {
        width: 100%; }
  .subscribe-icon {
    left: 24px; } }
/*# sourceMappingURL=style.css.map */